*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 1.7rem;
    font-family: 'caveat';
    color: #2e0c00;
    letter-spacing: 3px;
}

/******REAUSABLE CODE******/

.row{
    max-width: 1300px;
    margin: 0 auto;
}
p{
    font-family: 'caveat';
    font-weight: 600;
}

/*
 *LINKS
 */
a{
    color: #952c01;
    text-decoration: dotted 1px underline;
}

/*
 *BUTTONS
 */
.btn{
    color: #2e0c00;
    background-color: #cbe3ff;
    padding: 5px 50px;
    border: #952c01 1px solid;
    text-decoration: none;
    border-radius: 7px;
    box-shadow: 7px 7px 6px;
    transition: background-color 1s;
}
.btn:hover{
    background-color: #f7d8b5;
}

/*
 *HEADINGS
 */
 h1, h2{
    font-family: 'merienda', cursive;
    font-weight: 300;
    color: #952c01;
 }
 h1{
    font-size: 300%;
 }
 h2{
    text-align: center;
    font-size: 90%;
    text-transform: uppercase;
 }

/*
 *LOGOS
 */
.logo{
    width: 90px;
    display:block;
}
.logo img{
    width: 100%;
}
header .logo{
    margin-top: -1%;
}
.section-services .logo{
    position: absolute;
    top: 2%;
}

/******HEADER******/
nav{
    margin-top: 2%;
}
nav li{
    display: inline-block;
    margin-left: 1em;
}
header{
    height: 100vh;
    padding-top: 1.6%;
    background: linear-gradient(to bottom right,#fff, #ffe7cb, #cbe3ff) ;
}
header p{
    margin-bottom: 40px;
}
.nav{
    position: fixed;
    z-index: 999;
    left: 57%;
    top: 5%;
}
.hero{
    position: absolute;
    top: 33%;
    left: 14%;
}

/******SERVICE SECTION******/
.section-services{
    background-color: #ededed;
}
.section-services .box{
    height: 100%;
}
.section-services .box .img-box{
    width: 60%;
    margin: 5% 20% 0 20%;
}
.section-services .box .img-box img{
    width: 100%;
}
.section-services .box .text-box{
    padding: 6% 6%;
}
.section-services .box p{
    font-size: 90%;
    text-align: center;
}

/******GALLERY SECTION******/
.section-gallery{
    position: relative;
    background-color: #ffe7cb;
}
.gallery{
    width: 100vw;
    position: absolute;
}
.gallery:first-child{
    top: 100px;
}
.gallery:last-child{
    bottom: 0;
}
.middle{
    top: 328px;
}
.outer{
    width: 25%;
    float: left;
    padding: 1px 1px;
}
.g-box{
    background-color: black;
    padding: 2px;
}
.g-box img{
    width: 100%;
    opacity: 35%;
    overflow-y: hidden;
    z-index: 0;
    object-fit: cover;
    transform: scale(1.03);
    transition: opacity 1s, transform 1s;
}
.g-box img:hover{
    opacity: 100%;
    z-index: 99;
    transform: scale(1.15);
}
.push{
}
